In [7]:
 # !pip install sqlalchemy
# !pip install pymysql  # SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

import pandas as pd

# Config variables
from config import remote_db_endpoint, remote_db_port
from config import remote_morbid_dbname, remote_morbid_dbuser, remote_morbid_dbpwd

In [8]:
# AWS Database Connection
engine = create_engine(f"mysql://{remote_morbid_dbuser}:{remote_morbid_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_morbid_dbname}")  # Create a local database engine connection

# Create a remote database engine connection
conn = engine.connect()

In [3]:
# read in density death csv
densitydeath = pd.read_csv('Output/densitydeath.csv')
densitydeath = densitydeath.round({'Percent': 5})

In [4]:
densitydeath.head()

,Unnamed: 0,Density,Cause of Death,Deaths,Population,Rate per 100k,Percent
0,0,Large Central Metro,Cancer,156766,99544525,157.48330,21.97889
1,1,Large Central Metro,Heart Disease,169570,99544525,170.34588,23.77404
2,2,Large Central Metro,Stroke,37510,99544525,37.68163,5.25897
3,3,Large Central Metro,Respiratory,33738,99544525,33.89237,4.73013
4,4,Large Central Metro,Accidents,42204,99544525,42.39711,5.91708

In [5]:
# take density death csv to sql/aws
densitydeath.to_sql(name='density', if_exists='replace', con=conn, chunksize=500, index=False)

remote_data = pd.read_sql("SELECT * FROM density", conn)
remote_data.head()

,Unnamed: 0,Density,Cause of Death,Deaths,Population,Rate per 100k,Percent
0,0,Large Central Metro,Cancer,156766,99544525,157.48330,21.97889
1,1,Large Central Metro,Heart Disease,169570,99544525,170.34588,23.77404
2,2,Large Central Metro,Stroke,37510,99544525,37.68163,5.25897
3,3,Large Central Metro,Respiratory,33738,99544525,33.89237,4.73013
4,4,Large Central Metro,Accidents,42204,99544525,42.39711,5.91708

In [ ]:
# take gender death csv to sql/aws
genderdeath = pd.read_csv('Output/percentgenderdeath.csv')
genderdeath.to_sql(name='gender', if_exists='replace', con=conn, index=False)

In [9]:
# take svi life csv to sql/aws
sviLife = pd.read_csv('Output/sviLife.csv')
sviLife.to_sql(name='sviLife', if_exists='replace', con=conn, index=False)

In [6]:
# back-up tables
sviLife2 = pd.read_csv('Output/sviLife.csv')
sviLife2.to_sql(name='sviLife2', if_exists='replace', con=conn, index=False)
genderdeath = pd.read_csv('Output/percentgenderdeath.csv')
genderdeath.to_sql(name='gender2', if_exists='replace', con=conn, index=False)
densitydeath = pd.read_csv('Output/densitydeath.csv')
densitydeath.to_sql(name='density2', if_exists='replace', con=conn, chunksize=500, index=False)