In [162]:
# import dependencies
import pandas as pd
import numpy as np

In [163]:
# read in death data from wonder cdc as a csv that is tab delimited

overalldeath = pd.read_csv('Resources/OverallDeaths.txt', sep="\t")

In [164]:
# rename columns, drop unnecessary rows, create new column calculating the total death rate per 1000 people

overalldeath = overalldeath.rename(columns={'Deaths': 'Total_Deaths'})
overalldeath = overalldeath.drop(['Crude Rate', 'Notes'], axis=1)
overalldeath["Total_Death_Rate"] = (overalldeath['Total_Deaths'] / overalldeath['Population']) * 1000

In [165]:
# read in death by accident txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

accident = pd.read_csv('Resources/AccidentDeaths.txt', sep="\t")
accident = accident.rename(columns={'Deaths': 'Accident_Deaths'})
accident["Accident_Death_Rate"] = (accident['Accident_Deaths'] / accident['Population']) * 1000
accident = accident[["County Code", "Accident_Deaths", "Accident_Death_Rate"]]
merge1 = overalldeath.merge(accident, how="outer", left_on='County Code', right_on='County Code')

In [166]:
# read in death by alzheimer txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Alzheimer = pd.read_csv('Resources/AlzheimerDeaths.txt', sep="\t")
Alzheimer = Alzheimer.rename(columns={'Deaths': 'Alzheimer_Deaths'})
Alzheimer["Alzheimer_Death_Rate"] = (Alzheimer['Alzheimer_Deaths'] / Alzheimer['Population']) * 1000
Alzheimer = Alzheimer[["County Code", "Alzheimer_Deaths", "Alzheimer_Death_Rate"]]
merge2 = merge1.merge(Alzheimer, how="outer", left_on='County Code', right_on='County Code')

In [167]:
# read in death by cancer txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Cancer = pd.read_csv('Resources/CancerDeaths.txt', sep="\t")
Cancer = Cancer.rename(columns={'Deaths': 'Cancer_Deaths'})
Cancer["Cancer_Death_Rate"] = (Cancer['Cancer_Deaths'] / Cancer['Population']) * 1000
Cancer = Cancer[["County Code", "Cancer_Deaths", "Cancer_Death_Rate"]]
merge3 = merge2.merge(Cancer, how="outer", left_on='County Code', right_on='County Code')

In [168]:
# read in death by diabetes txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Diabetes = pd.read_csv('Resources/DiabetesDeaths.txt', sep="\t")
Diabetes = Diabetes.rename(columns={'Deaths': 'Diabetes_Deaths'})
Diabetes["Diabetes_Death_Rate"] = (Diabetes['Diabetes_Deaths'] / Diabetes['Population']) * 1000
Diabetes = Diabetes[["County Code", "Diabetes_Deaths", "Diabetes_Death_Rate"]]
merge4 = merge3.merge(Diabetes, how="outer", left_on='County Code', right_on='County Code')

In [169]:
# read in death by flu txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Flu = pd.read_csv('Resources/FluDeaths.txt', sep="\t")
Flu = Flu.rename(columns={'Deaths': 'Flu_Deaths'})
Flu["Flu_Death_Rate"] = (Flu['Flu_Deaths'] / Flu['Population']) * 1000
Flu = Flu[["County Code", "Flu_Deaths", "Flu_Death_Rate"]]
merge5 = merge4.merge(Flu, how="outer", left_on='County Code', right_on='County Code')

In [170]:
# read in death by heart txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Heart = pd.read_csv('Resources/HeartDeaths.txt', sep="\t")
Heart = Heart.rename(columns={'Deaths': 'Heart_Deaths'})
Heart["Heart_Death_Rate"] = (Heart['Heart_Deaths'] / Heart['Population']) * 1000
Heart = Heart[["County Code", "Heart_Deaths", "Heart_Death_Rate"]]
merge6 = merge5.merge(Heart, how="outer", left_on='County Code', right_on='County Code')

In [171]:
# read in death by kidney txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Kidney = pd.read_csv('Resources/KidneyDeaths.txt', sep="\t")
Kidney = Kidney.rename(columns={'Deaths': 'Kidney_Deaths'})
Kidney["Kidney_Death_Rate"] = (Kidney['Kidney_Deaths'] / Kidney['Population']) * 1000
Kidney = Kidney[["County Code", "Kidney_Deaths", "Kidney_Death_Rate"]]
merge7 = merge6.merge(Kidney, how="outer", left_on='County Code', right_on='County Code')

In [172]:
# read in death by lower resp infection txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

LowerResp = pd.read_csv('Resources/LowerRespDeaths.txt', sep="\t")
LowerResp = LowerResp.rename(columns={'Deaths': 'LowerResp_Deaths'})
LowerResp["LowerResp_Death_Rate"] = (LowerResp['LowerResp_Deaths'] / LowerResp['Population']) * 1000
LowerResp = LowerResp[["County Code", "LowerResp_Deaths", "LowerResp_Death_Rate"]]
merge8 = merge7.merge(LowerResp, how="outer", left_on='County Code', right_on='County Code')

In [173]:
# read in death by stroke txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Stroke = pd.read_csv('Resources/StrokeDeaths.txt', sep="\t")
Stroke = Stroke.rename(columns={'Deaths': 'Stroke_Deaths'})
Stroke["Stroke_Death_Rate"] = (Stroke['Stroke_Deaths'] / Stroke['Population']) * 1000
Stroke = Stroke[["County Code", "Stroke_Deaths", "Stroke_Death_Rate"]]
merge9 = merge8.merge(Stroke, how="outer", left_on='County Code', right_on='County Code')

In [174]:
# read in death by suicide txt file, rename columns, calculate death rate, assign columns to dataframe
# merge with previous data set on County Code

Suicide = pd.read_csv('Resources/SuicideDeaths.txt', sep="\t")
Suicide = Suicide.rename(columns={'Deaths': 'Suicide_Deaths'})
Suicide["Suicide_Death_Rate"] = (Suicide['Suicide_Deaths'] / Suicide['Population']) * 1000
Suicide = Suicide[["County Code", "Suicide_Deaths", "Suicide_Death_Rate"]]
merge10 = merge9.merge(Suicide, how="outer", left_on='County Code', right_on='County Code')

In [175]:
merge10.head()

,County,County Code,Total_Deaths,Population,Total_Death_Rate,Accident_Deaths,Accident_Death_Rate,Alzheimer_Deaths,Alzheimer_Death_Rate,Cancer_Deaths,...,Heart_Deaths,Heart_Death_Rate,Kidney_Deaths,Kidney_Death_Rate,LowerResp_Deaths,LowerResp_Death_Rate,Stroke_Deaths,Stroke_Death_Rate,Suicide_Deaths,Suicide_Death_Rate
0,"Autauga County, AL",1001,520,55416,9.383572,30.0,0.541360,20.0,0.360907,106.0,...,118.0,2.129349,NaN,NaN,37.0,0.667677,36.0,0.649632,14.0,0.252635
1,"Baldwin County, AL",1003,1974,208563,9.464766,98.0,0.469882,63.0,0.302067,461.0,...,492.0,2.358999,47.0,0.225352,119.0,0.570571,110.0,0.527419,42.0,0.201378
2,"Barbour County, AL",1005,256,25965,9.859426,10.0,0.385134,NaN,NaN,59.0,...,67.0,2.580397,11.0,0.423647,11.0,0.423647,20.0,0.770268,NaN,NaN
3,"Bibb County, AL",1007,239,22643,10.555138,26.0,1.148258,NaN,NaN,55.0,...,63.0,2.782317,NaN,NaN,13.0,0.574129,15.0,0.662456,NaN,NaN
4,"Blount County, AL",1009,697,57704,12.078885,54.0,0.935810,27.0,0.467905,155.0,...,154.0,2.668792,NaN,NaN,63.0,1.091779,36.0,0.623874,11.0,0.190628

In [176]:
# fill all nan with 0 - could also comment this out too
#merge10 = merge10.apply(pd.to_numeric, errors='coerce').fillna(0, downcast='infer')

In [177]:
merge10.dtypes

County                   object
County Code               int64
Total_Deaths              int64
Population                int64
Total_Death_Rate        float64
Accident_Deaths         float64
Accident_Death_Rate     float64
Alzheimer_Deaths        float64
Alzheimer_Death_Rate    float64
Cancer_Deaths           float64
Cancer_Death_Rate       float64
Diabetes_Deaths         float64
Diabetes_Death_Rate     float64
Flu_Deaths              float64
Flu_Death_Rate          float64
Heart_Deaths            float64
Heart_Death_Rate        float64
Kidney_Deaths           float64
Kidney_Death_Rate       float64
LowerResp_Deaths        float64
LowerResp_Death_Rate    float64
Stroke_Deaths           float64
Stroke_Death_Rate       float64
Suicide_Deaths          float64
Suicide_Death_Rate      float64
dtype: object

In [161]:
merge10.head(25)

,County,County Code,Total_Deaths,Population,Total_Death_Rate,Accident_Deaths,Accident_Death_Rate,Alzheimer_Deaths,Alzheimer_Death_Rate,Cancer_Deaths,...,Heart_Deaths,Heart_Death_Rate,Kidney_Deaths,Kidney_Death_Rate,LowerResp_Deaths,LowerResp_Death_Rate,Stroke_Deaths,Stroke_Death_Rate,Suicide_Deaths,Suicide_Death_Rate
0,0,1001,520,55416,9.383572,30,0.541360,20,0.360907,106,...,118,2.129349,0,0.000000,37,0.667677,36,0.649632,14,0.252635
1,0,1003,1974,208563,9.464766,98,0.469882,63,0.302067,461,...,492,2.358999,47,0.225352,119,0.570571,110,0.527419,42,0.201378
2,0,1005,256,25965,9.859426,10,0.385134,0,0.000000,59,...,67,2.580397,11,0.423647,11,0.423647,20,0.770268,0,0.000000
3,0,1007,239,22643,10.555138,26,1.148258,0,0.000000,55,...,63,2.782317,0,0.000000,13,0.574129,15,0.662456,0,0.000000
4,0,1009,697,57704,12.078885,54,0.935810,27,0.467905,155,...,154,2.668792,0,0.000000,63,1.091779,36,0.623874,11,0.190628
5,0,1011,133,10362,12.835360,10,0.965065,12,1.158078,37,...,31,2.991700,0,0.000000,0,0.000000,0,0.000000,0,0.000000
6,0,1013,275,19998,13.751375,12,0.600060,13,0.650065,49,...,70,3.500350,0,0.000000,17,0.850085,25,1.250125,0,0.000000
7,0,1015,1404,114611,12.250133,64,0.558411,60,0.523510,271,...,454,3.961225,25,0.218129,109,0.951043,51,0.444983,25,0.218129
8,0,1017,460,33843,13.592176,31,0.915994,29,0.856898,94,...,100,2.954821,0,0.000000,32,0.945543,27,0.797802,15,0.443223
9,0,1019,361,25725,14.033042,24,0.932945,22,0.855199,79,...,91,3.537415,0,0.000000,20,0.777454,11,0.427600,0,0.000000
10,0,1021,475,43941,10.809950,23,0.523429,14,0.318609,87,...,153,3.481942,0,0.000000,31,0.705491,25,0.568945,0,0.000000
11,0,1023,180,12993,13.853613,0,0.000000,14,1.077503,24,...,57,4.386978,0,0.000000,0,0.000000,20,1.539290,0,0.000000
12,0,1025,315,24392,12.914070,13,0.532962,15,0.614956,54,...,92,3.771728,0,0.000000,20,0.819941,14,0.573959,0,0.000000
13,0,1027,177,13492,13.118885,0,0.000000,0,0.000000,36,...,59,4.372962,0,0.000000,12,0.889416,0,0.000000,0,0.000000
14,0,1029,191,14924,12.798177,14,0.938086,0,0.000000,36,...,63,4.221388,0,0.000000,19,1.273117,0,0.000000,0,0.000000
15,0,1031,508,51226,9.916839,27,0.527076,32,0.624683,94,...,131,2.557295,0,0.000000,34,0.663725,26,0.507555,10,0.195213
16,0,1033,707,54216,13.040431,18,0.332005,39,0.719345,139,...,161,2.969603,15,0.276671,56,1.032905,38,0.700900,0,0.000000
17,0,1035,153,12395,12.343687,0,0.000000,0,0.000000,33,...,40,3.227108,0,0.000000,11,0.887455,16,1.290843,0,0.000000
18,0,1037,160,10581,15.121444,14,1.323126,0,0.000000,32,...,41,3.874870,0,0.000000,12,1.134108,0,0.000000,0,0.000000
19,0,1039,503,37458,13.428373,13,0.347055,23,0.614021,89,...,131,3.497250,14,0.373752,48,1.281435,30,0.800897,0,0.000000
20,0,1041,191,13913,13.728168,0,0.000000,21,1.509380,44,...,38,2.731259,0,0.000000,21,1.509380,11,0.790627,0,0.000000
21,0,1043,1012,82471,12.270980,55,0.666901,62,0.751779,172,...,245,2.970741,29,0.351639,83,1.006414,54,0.654776,19,0.230384
22,0,1045,550,49226,11.172957,34,0.690692,25,0.507862,107,...,136,2.762768,0,0.000000,39,0.792264,29,0.589120,0,0.000000
23,0,1047,571,40008,14.272146,26,0.649870,39,0.974805,116,...,164,4.099180,13,0.324935,22,0.549890,31,0.774845,0,0.000000
24,0,1049,792,70900,11.170663,53,0.747532,21,0.296192,133,...,211,2.976023,16,0.225670,71,1.001410,39,0.550071,10,0.141044

In [19]:
# reassign last merge to deathrate dataframe

deathrate = merge10

In [20]:
# create FIPS column that matches the existing county code

deathrate["FIPS"] = deathrate["County Code"]

In [21]:
deathrate.head()

,County,County Code,Total_Deaths,Population,Total_Death_Rate,Accident_Deaths,Accident_Death_Rate,Alzheimer_Deaths,Alzheimer_Death_Rate,Cancer_Deaths,...,Heart_Death_Rate,Kidney_Deaths,Kidney_Death_Rate,LowerResp_Deaths,LowerResp_Death_Rate,Stroke_Deaths,Stroke_Death_Rate,Suicide_Deaths,Suicide_Death_Rate,FIPS
0,"Autauga County, AL",1001,520,55416,9.383572,30.0,0.541360,20.0,0.360907,106.0,...,2.129349,NaN,NaN,37.0,0.667677,36.0,0.649632,14.0,0.252635,1001
1,"Baldwin County, AL",1003,1974,208563,9.464766,98.0,0.469882,63.0,0.302067,461.0,...,2.358999,47.0,0.225352,119.0,0.570571,110.0,0.527419,42.0,0.201378,1003
2,"Barbour County, AL",1005,256,25965,9.859426,10.0,0.385134,NaN,NaN,59.0,...,2.580397,11.0,0.423647,11.0,0.423647,20.0,0.770268,NaN,NaN,1005
3,"Bibb County, AL",1007,239,22643,10.555138,26.0,1.148258,NaN,NaN,55.0,...,2.782317,NaN,NaN,13.0,0.574129,15.0,0.662456,NaN,NaN,1007
4,"Blount County, AL",1009,697,57704,12.078885,54.0,0.935810,27.0,0.467905,155.0,...,2.668792,NaN,NaN,63.0,1.091779,36.0,0.623874,11.0,0.190628,1009

In [22]:
# read ub svi csv from CDC's website
svi = pd.read_csv('Resources/SVI2016_US_COUNTY.csv')

# merge social vulernability index csv by FIPS county code with deathrate csv County Code. 
svi_merged = pd.merge(svi, deathrate, how="outer", on="FIPS")

In [23]:
svi_merged.head()

,FID,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,Heart_Deaths,Heart_Death_Rate,Kidney_Deaths,Kidney_Death_Rate,LowerResp_Deaths,LowerResp_Death_Rate,Stroke_Deaths,Stroke_Death_Rate,Suicide_Deaths,Suicide_Death_Rate
0,0.0,1.0,ALABAMA,AL,Autauga,1001,"Autauga County, Alabama",594.446120,55049.0,0.0,...,118.0,2.129349,NaN,NaN,37.0,0.667677,36.0,0.649632,14.0,0.252635
1,1.0,1.0,ALABAMA,AL,Blount,1009,"Blount County, Alabama",644.806508,57704.0,0.0,...,154.0,2.668792,NaN,NaN,63.0,1.091779,36.0,0.623874,11.0,0.190628
2,2.0,1.0,ALABAMA,AL,Chambers,1017,"Chambers County, Alabama",596.531112,34018.0,0.0,...,100.0,2.954821,NaN,NaN,32.0,0.945543,27.0,0.797802,15.0,0.443223
3,3.0,1.0,ALABAMA,AL,Coffee,1031,"Coffee County, Alabama",678.985652,50991.0,0.0,...,131.0,2.557295,NaN,NaN,34.0,0.663725,26.0,0.507555,10.0,0.195213
4,4.0,1.0,ALABAMA,AL,Colbert,1033,"Colbert County, Alabama",592.619664,54377.0,0.0,...,161.0,2.969603,15.0,0.276671,56.0,1.032905,38.0,0.700900,NaN,NaN

In [24]:
len(svi_merged)

3144

In [26]:
# removes margin of error columns from the dataframe and flag 
svi_merged = svi_merged[svi_merged.columns.drop(list(svi_merged.filter(regex="M_")))]
svi_merged = svi_merged[svi_merged.columns.drop(list(svi_merged.filter(regex="F_")))]

In [27]:
svi_merged.head()

,FID,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,E_HU,...,Heart_Deaths,Heart_Death_Rate,Kidney_Deaths,Kidney_Death_Rate,LowerResp_Deaths,LowerResp_Death_Rate,Stroke_Deaths,Stroke_Death_Rate,Suicide_Deaths,Suicide_Death_Rate
0,0.0,1.0,ALABAMA,AL,Autauga,1001,"Autauga County, Alabama",594.446120,55049.0,22714.0,...,118.0,2.129349,NaN,NaN,37.0,0.667677,36.0,0.649632,14.0,0.252635
1,1.0,1.0,ALABAMA,AL,Blount,1009,"Blount County, Alabama",644.806508,57704.0,23850.0,...,154.0,2.668792,NaN,NaN,63.0,1.091779,36.0,0.623874,11.0,0.190628
2,2.0,1.0,ALABAMA,AL,Chambers,1017,"Chambers County, Alabama",596.531112,34018.0,16905.0,...,100.0,2.954821,NaN,NaN,32.0,0.945543,27.0,0.797802,15.0,0.443223
3,3.0,1.0,ALABAMA,AL,Coffee,1031,"Coffee County, Alabama",678.985652,50991.0,22862.0,...,131.0,2.557295,NaN,NaN,34.0,0.663725,26.0,0.507555,10.0,0.195213
4,4.0,1.0,ALABAMA,AL,Colbert,1033,"Colbert County, Alabama",592.619664,54377.0,26156.0,...,161.0,2.969603,15.0,0.276671,56.0,1.032905,38.0,0.700900,NaN,NaN

In [ ]:
########### LIFE EXPECTANCY DATA ###################

# read in life expetancy data, remove column, drop index

life = pd.read_csv('Resources/lifeexpectancy.csv')
life.columns = life.iloc[0]
life = life.reindex(life.index.drop(0))

# clean up columns

life = life.rename(columns={'Life expectancy, 2014*': 'Life Expectancy'})
life = life[['Location', 'FIPS', 'Life Expectancy']]
life.head()

# take first five digits from life expectancy column

life['Life Expectancy'] = life['Life Expectancy'].str[:5]

# change FIPS to integer for merge

life['FIPS'] = pd.to_numeric(life['FIPS'], errors='coerce')
life = life.dropna(subset=['FIPS'])
life['FIPS'] = life['FIPS'].astype(int)

# remove columns that just have state overall data

life = life[life.FIPS > 100]
life = life.reset_index(drop=True)

In [137]:
#################### MEDICARE COST DATA #####################

medicare = pd.read_csv('Resources/medicarecost.csv')



# clean up medicare dataframe by renaming and selectin columns

medicare = medicare.rename(columns={'Total Medicare reimbursements per enrollee (Parts A and B) (2016)':
                                    'Total per enrollee (age, sex, race adjusted)', 
                                    'Unnamed: 4': 'Total per enrollee (age, sex, race, price adjusted)'})

medicare = medicare[['County ID', 'County name', 'Total per enrollee (age, sex, race adjusted)',
                     'Total per enrollee (age, sex, race, price adjusted)']]

medicare = medicare.drop(medicare.index[0])

# make county id an int and rename it for merge purposes

medicare['County ID'] = medicare['County ID'].astype(int)
medicare = medicare.rename(columns={'County ID': 'FIPS'})

# merge life expectancy and medicare cost data together

lifemedicare = pd.merge(life, medicare, how="outer", on="FIPS") 
lifemedicare.head()

# remove weird columns at end of dataframe

lifemedicare = lifemedicare.drop(lifemedicare.index[3142:])

# read to csv
lifemedicare.to_csv('Output/lifemedicare.csv')

########### THE MASTER ALL DEATH CSV ##########

AllDeath = pd.merge(svi_merged, lifemedicare, how="outer", on="FIPS") 

AllDeath = AllDeath.drop(AllDeath.index[3142:])

AllDeath.to_csv('Output/AllDeath.csv')

In [141]:
sviLife = AllDeath[["FIPS", "Location", "Life Expectancy", "RPL_THEMES", "RPL_THEME1", "RPL_THEME2", "RPL_THEME3","RPL_THEME4"]]

In [142]:
sviLife.head()

,FIPS,Location,Life Expectancy,RPL_THEMES,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4
0,1001,"Autauga County, Alabama",75.67,0.3773,0.3298,0.5568,0.5976,0.2881
1,1009,"Blount County, Alabama",76.16,0.4986,0.6609,0.4664,0.5992,0.1827
2,1017,"Chambers County, Alabama",74.06,0.8408,0.7689,0.7615,0.5798,0.8596
3,1031,"Coffee County, Alabama",76.48,0.5266,0.5072,0.8507,0.7313,0.1624
4,1033,"Colbert County, Alabama",75.07,0.4333,0.6345,0.7326,0.3642,0.1175

In [143]:
sviLife.to_csv('Output/sviLife.csv')

In [ ]:
#############################################################################################################
#################### DATA FOR RADIAL GRAPHS #######################################

In [28]:
# read in death by gender data

genderdeaths = pd.read_csv('Resources/DeathsbyGender.txt', sep="\t")

In [29]:
genderdeaths.head()

,Notes,Gender,Gender Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,Deaths,Population,Crude Rate
0,NaN,Female,F,#Malignant neoplasms (C00-C97),GR113-019,283467,164048590,1.72795
1,NaN,Female,F,"#Diseases of heart (I00-I09,I11,I13,I20-I51)",GR113-054,295995,164048590,1.80431
2,NaN,Female,F,#Cerebrovascular diseases (I60-I69),GR113-070,82787,164048590,0.50465
3,NaN,Female,F,#Chronic lower respiratory diseases (J40-J47),GR113-082,81551,164048590,0.49711
4,NaN,Female,F,"#Accidents (unintentional injuries) (V01-X59,Y...",GR113-112,57510,164048590,0.35057

In [30]:
# clean up columns

genderdeaths = genderdeaths.rename(columns={'ICD-10 113 Cause List': 'Cause of Death', 'Crude Rate': 'Rate per 1000'})
genderdeaths = genderdeaths[["Gender", "Cause of Death", "Deaths", "Population", "Rate per 1000"]]

In [31]:
# replace medical terminology of ICD-10 cause list to layperson language

genderdeaths['Cause of Death'] = genderdeaths['Cause of Death'].replace('#Malignant neoplasms (C00-C97)', 'Cancer')

genderdeaths['Cause of Death'] = genderdeaths['Cause of Death'].replace('#Diseases of heart (I00-I09,I11,I13,I20-I51)', 'Heart Disease')

genderdeaths['Cause of Death'] = genderdeaths['Cause of Death'].replace('#Cerebrovascular diseases (I60-I69)', 'Stroke')

genderdeaths['Cause of Death'] = genderdeaths['Cause of Death'].replace('#Chronic lower respiratory diseases (J40-J47)', 'Respiratory')

genderdeaths['Cause of Death'] = genderdeaths['Cause of Death'].replace('#Accidents (unintentional injuries) (V01-X59,Y85-Y86)', 'Accidents')

In [32]:
genderdeaths.head()

   Gender Cause of Death  Deaths  Population  Rate per 1000
0  Female         Cancer  283467   164048590        1.72795
1  Female  Heart Disease  295995   164048590        1.80431
2  Female         Stroke   82787   164048590        0.50465
3  Female    Respiratory   81551   164048590        0.49711
4  Female      Accidents   57510   164048590        0.35057

In [33]:
# add overall death and death rates by gender to dataframe

genderdeaths = genderdeaths.append(pd.Series(['Male', 'Overall', 1400232, 159078923, 8.80212], index=genderdeaths.columns), ignore_index=True)
genderdeaths = genderdeaths.append(pd.Series(['Female', 'Overall', 1344016, 164048590, 8.19279], index=genderdeaths.columns), ignore_index=True)

In [35]:
# add column of perecent of death based on conditional formatting

genderdeaths.loc[genderdeaths['Gender'] == 'Female', 'Percent'] = (genderdeaths['Rate per 1000'] / 8.19279) * 100
genderdeaths.loc[genderdeaths['Gender'] == 'Male', 'Percent'] = (genderdeaths['Rate per 1000'] / 8.80212) * 100

In [37]:
# save to csv file 

genderdeaths.to_csv('Output/percentgenderdeath.csv')

In [38]:
# read in deaths by density clean up columns like with gender deaths

densedeaths = pd.read_csv('Resources/UrbanRuralDeaths100k.txt', sep="\t")

densedeaths = densedeaths.rename(columns={'ICD-10 113 Cause List': 'Cause of Death', 'Crude Rate': 'Rate per 100k',
                                           '2013 Urbanization': 'Density'})
densedeaths = densedeaths[["Density", "Cause of Death", "Deaths", "Population", "Rate per 100k"]]

densedeaths['Cause of Death'] = densedeaths['Cause of Death'].replace('#Malignant neoplasms (C00-C97)', 'Cancer')

densedeaths['Cause of Death'] = densedeaths['Cause of Death'].replace('#Diseases of heart (I00-I09,I11,I13,I20-I51)', 'Heart Disease')

densedeaths['Cause of Death'] = densedeaths['Cause of Death'].replace('#Cerebrovascular diseases (I60-I69)', 'Stroke')

densedeaths['Cause of Death'] = densedeaths['Cause of Death'].replace('#Chronic lower respiratory diseases (J40-J47)', 'Respiratory')

densedeaths['Cause of Death'] = densedeaths['Cause of Death'].replace('#Accidents (unintentional injuries) (V01-X59,Y85-Y86)', 'Accidents')

densedeaths['Cause of Death'] = densedeaths['Cause of Death'].replace('#Intentional self-harm (suicide) (*U03,X60-X84,Y87.0)', 'Suicides')

In [40]:
densedeaths.head()

               Density Cause of Death  Deaths  Population  Rate per 100k
0  Large Central Metro         Cancer  156766    99544525      157.48330
1  Large Central Metro  Heart Disease  169570    99544525      170.34588
2  Large Central Metro         Stroke   37510    99544525       37.68163
3  Large Central Metro    Respiratory   33738    99544525       33.89237
4  Large Central Metro      Accidents   42204    99544525       42.39711

In [41]:
# read in txt file of total deaths by density and clean it up

test = pd.read_csv('Resources/total.txt', sep="\t")
test = test.rename(columns={'Notes': 'Cause of Death', 'Crude Rate': 'Rate per 100k', '2013 Urbanization': 'Density'})
test = test[["Density", "Cause of Death", "Deaths", "Population", "Rate per 100k"]]

In [42]:
# append total deaths to dense deaths dataframe

densedeaths = densedeaths.append(test, ignore_index=True)
densedeaths = densedeaths.fillna('Total', downcast='infer')

In [45]:
# add percentage by death rate column

densedeaths.loc[densedeaths['Density'] == 'Large Central Metro', 'Percent'] = (densedeaths['Rate per 100k'] / 716.52057) * 100
densedeaths.loc[densedeaths['Density'] == 'Large Fringe Metro', 'Percent'] = (densedeaths['Rate per 100k'] / 786.57736) * 100
densedeaths.loc[densedeaths['Density'] == 'Medium Metro', 'Percent'] = (densedeaths['Rate per 100k'] / 884.81205) * 100
densedeaths.loc[densedeaths['Density'] == 'Small Metro', 'Percent'] = (densedeaths['Rate per 100k'] / 962.16813) * 100
densedeaths.loc[densedeaths['Density'] == 'Micropolitan (Nonmetro)', 'Percent'] = (densedeaths['Rate per 100k'] / 1065.98419) * 100
densedeaths.loc[densedeaths['Density'] == 'NonCore (Nonmetro)', 'Percent'] = (densedeaths['Rate per 100k'] / 1200.95424) * 100

In [47]:
# dense deaths to csv

densedeaths.to_csv('Output/densitydeath.csv')